@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-gradient {
        animation: gradientBG 6s ease infinite;
    }

    @keyframes gradientBG {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    .animate-float {
        animation: floatEffect 3s ease-in-out infinite;
    }

    @keyframes floatEffect {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-10px);
        }

        100% {
            transform: translateY(0px);
        }
    }
}